.aiversebg {
  height: 950px;
  width: 100%;
  background-color: black;
}

.howToFilter {
  position: absolute;
  top: 97.5%;
  width: 100%;
  height: 130%;
  background: linear-gradient(
    158.16deg,
    rgba(183, 0, 165, 0.76) 31.96%,
    rgba(107, 0, 157, 0.76) 41.66%,
    rgba(107, 0, 157, 0.76) 46.07%
  );
  opacity: 30%;
}

.App-link {
  color: #61dafb;
}

.header-aiverse {
  background-clip: text;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  width: 40%;
  font-size: 4rem;
}

.top-header {
  display: flex;
  text-align: left;
  margin-left: 13%;
}

.p1 {
  font-family: "Inter";
  font-weight: 300;
  font-size: xx-large;
  line-height: 160%;
  color: white;
  margin-top: 13%;
  margin-left: -40%;
  line-height: 1.5;
  margin-bottom: 5%;
}

.robot {
  display: flex;
  width: 378px;
  transform: scaleX(-1);
  /* height: 50%; */
  margin-top: -15%;
  margin-left: 10%;
  /* height: 500px; */
}

.space {
  width: 28%;
  position: relative;
  top: -80px;
  left: 60%;
}

.techImg {
  width: 16%;
  height: 62%;
  transform: rotate(40deg);
  object-fit: unset;
  size: landscape;
  margin-left: 70%;
  margin-top: -19%;
}

.box {
  position: absolute;
  height: 12%;
  width: 30%;
  background: #7b71a05c;
  border-top-right-radius: 50px;
  margin-left: 9%;
  padding: 10px 20px;
}

.imagin {
  margin-left: 15%;
  width: 40%;
  height: 90px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
  margin-right: 20px;
}

/* @media only screen and (max-width: 1400px){
    .header-aiverse{
      width: 45%;
    }
    .h2{
      width: 50%;
      font-size: 60px;
    }
    .techImg{
      width: 20%;
    }
}

@media only screen and (max-width: 1024px){
  .header-aiverse{
    width: 55%;
    font-size: 3.5rem;
  }
  .p1{
    margin-top: 23%;
    margin-left: -55%;
  }
  .techImg{
    width: 22%;
    transform: rotate(35deg);
  }
  .box{
    width: 40%;
  }
  .h2, .p2{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  .box{
    width: 50%;
  }
  .robot{
    width: 310px;
  }
  .techImg{
    width: 28%;
    transform: rotate(35deg);
  }
  .top-header{
    width: 120%;
    margin-left: 40%;
  }
}

@media only screen and (max-width: 650px){
  .header-aiverse{
    width: 70%;
    text-align: center;
    font-size: 2rem;
  }
  .p1 {
    margin-top: 13%;
    margin-left: -61%;
  }
  .robot{
    width: 280px;
  }
  .box{
    width: 70%;
    margin-left: -30%;
  }
  .techImg{
    width: 44%;
    height: 70%;
    transform: rotate(37deg);
  }
} */

@media screen and (min-width: 1249px) and (max-width: 1440px) {
  .header-aiverse {
    font-size: 3rem;
  }
  .robot {
    margin-top: -16%;
  }
}

@media screen and (min-width: 1057px) and (max-width: 1248px) {
  .header-aiverse {
    font-size: 40px;
  }
  .techImg {
    width: 18%;
    margin-left: 68%;
  }
  .robot {
    margin-top: -20%;
  }
}

@media screen and (min-width: 1057px) and (max-width: 1152px) {
  .howToFilter {
    top: 96.1%;
  }
  .robot {
    margin-top: -21%;
  }
  .techImg {
    margin-left: 65%;
  }
  .box {
    width: 35%;
  }
}

@media screen and (min-width: 962px) and (max-width: 1056px) {
  .howToFilter {
    top: 96.1%;
  }
  .header-aiverse {
    font-size: xx-large;
  }
  .p1 {
    font-size: 25px;
    margin-top: 15%;
  }
  .techImg {
    width: 15%;
    margin-left: 63%;
  }
  .robot {
    height: 40%;
    margin-top: -18.5%;
  }
  .box {
    width: 42%;
  }
}

@media screen and (min-width: 642px) and (max-width: 960px) {
  .techImg {
    width: 20%;
    margin-left: 60%;
  }
  .robot {
    margin-top: -19%;
    height: 30%;
    width: 300px;
  }
  .header-aiverse {
    font-size: 30px;
  }
  .box {
    width: 70%;
  }
  .space {
    height: 80%;
  }
}

@media screen and (max-width: 641px) {
  .aiversebg {
    width: 100%;
    height: 100vh;
  }
  .howToFilter {
    top: auto;
    height: 100vh;
  }
  .top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }
  .header-aiverse {
    width: 100%;
    font-size: xx-large;
    text-align: center;
  }
  .p1 {
    margin: 0;
    font-size: larger;
    line-height: 1.2;
  }
  .techImg {
    width: 42%;
    height: 50%;
    margin-left: 25%;
    margin-top: -15%;
    opacity: 50%;
  }
  .robot {
    height: 25%;
    margin-top: 8%;
    width: 40%;
    margin-left: -2%;
  }
  .box {
    height: 11%;
    width: 80%;
    padding: 10px 20px;
    margin-left: 0;
  }
  .imagin {
    width: 60%;
    height: 85px;
    line-height: 35px;
    margin-left: 0;
    font-size: xx-large;
  }
  .space {
    width: 35%;
    height: 85%;
    top: -80px;
    left: 60%;
  }
}

@media screen and (min-height: 581px) and (max-height: 641px) {
  .aiversebg {
    height: 100vh;
  }
  .howToFilter {
    height: 100%;
  }
  .header-aiverse {
    font-size: 2.5rem;
  }
  .p1 {
    font-size: larger;
  }
  .robot {
    height: 30vh;
    width: 40vh;
    margin-top: -8%;
  }
  .box {
    width: 50vh;
  }
  .imagin {
    font-size: large;
  }
  .space {
    top: -83px;
  }
}

@media screen and (max-height: 580px) {
  .robot {
    height: 30vh;
    width: 40vh;
    margin-top: -35%;
  }
  .techImg {
    margin-top: -20%;
  }
  .box {
    height: 15%;
  }
  .imagin {
    font-size: x-large;
  }
}
