.mintParent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(33,5,53);
    background-color: black;
    width: 100%;
    height: 100vh;
}

.mintTitle {
    font-size: xx-large;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
    margin-left: 20px;
}

.mintTitleBold {
    font-size: xxx-large;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.mintButtonParent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    background-color: #252525;
    margin: 5% 0 3% 0;
    width: 40%;
}

.mintInput {
    border: none;
    color: white;
    outline: none;
    font-size: large;
    padding: 20px 10px;
    width: 40%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) -1.46%, rgba(39, 31, 28, 0.0798) 100%);
    backdrop-filter: blur(14px);
    cursor: pointer;
    z-index: 1000;
}


.buttonMint {
    outline: none;
    padding: 10px 0;
    font-size: large;
    width: 35%;
    background-color: #2CA0E2;
    color: white;
    border: none;
    z-index: 1000;
    clip-path: polygon(25% 0, 100% 0, 100% 40%, 100% 75%, 75% 100%, 39% 100%, 0 100%, 0% 25%);

}

.mintDesign {
    display: none;
    position: absolute;
    top: 420%;
    right: 2%;
    width: 20%;
    height: 45%;
    clip-path: polygon(0 0, 50% 0, 100% 30%, 100% 100%, 44% 100%, 0 66%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 11.24%, rgba(255, 255, 255, 0.024) 141.47%);
    backdrop-filter: blur(60px);
    transform: rotate(-180deg);
    border: 2px solid grey;
    margin-right: 15%;
    margin-top: 2%;
}

.elipse{
    position: absolute;
    top: 420%;
    right: 14%;
    width: 25%;
    height: 50%;
    background: rgba(31, 98, 234, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(160px);
    transform: rotate(0deg);
}

.mintBottomText {
    font-size: xx-large;
    color: white;
    margin-left: 30px;
    margin-top: 2%;
    margin-bottom: 10px;
}

.mintBottomtextGradientKnow {
    background: linear-gradient(180deg, #FF6706 0%, #01C8F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mintBottomtextGradientThinking {
    background: linear-gradient(180deg, #2CA0E2 0%, #FF6706 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mintEmailParent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    width: 50%;
}

.mintEmailInput {
    border: none;
    color: black;
    outline: none;
    padding: 15px 15px;
    width: 35%;
    cursor: pointer;
    z-index: 1000;
    opacity: 50%;
}

.mintEmailButton {
    outline: none;
    padding: 15px 0;
    margin: 0 20px;
    width: 20%;
    background-color: #2CA0E2;
    background-color: #FF6706;
    color: white;
    border: none;
    z-index: 1000;
    clip-path: polygon(25% 0, 100% 0, 100% 40%, 100% 75%, 75% 100%, 39% 100%, 0 100%, 0% 25%);    
}

.mintEmailText {
    font-size: xx-large;
    margin: 10px;
    color: white;
    background: linear-gradient(90deg, #FF6706 0%, #0048F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bottomElipse {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 50%;
    left: 0;
    top: 470%;
    transform: translate(-50%, -50%);
    background: #794CEC;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(360px);
}

.mintFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    width: calc(100% - 400px);
    height: 15%;
    color: white;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 0 200px;
}

.mintFooterMobile {
    display: none;
}

.logo {
    width: 16%;
    height: 100%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 0 20px;
}

.maintFooterTextParent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid grey;
}

.mintFooterText {
    padding: 0 100px;
    font-size: x-large;
    margin: 0;
    background: linear-gradient(90deg, #FF6706 -6.06%, #0048F5 56.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.mintFooterLinkParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 2px solid grey;
}

.mintFooterLinkParentMobile {
    display: none;
}

.mintFooterInternalLink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.mintFooterExternalLink{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.internalLink {
    cursor: pointer;
    font-size: medium;
    opacity: 50%;
}

.externalLink {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    padding: 3px;
    background: linear-gradient(90deg, rgba(0, 72, 245, 0.1) -1.46%, rgba(0, 72, 245, 0.024) 100%);
    backdrop-filter: blur(14px);
    cursor: pointer;
}

.mintTermsAndPolicyParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
}

.copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mintTermsAndPolicy {
    opacity: 50%;
    font-size: small;
}

.mintTermsAndPolicyMiddle {
    margin: 0 50px;
}

@media screen and (min-width: 1249px) and (max-width: 1440px) {
    .mintDesign {
        /* right: 0;
        width: 25%; */
        display: none;
    }
}

@media screen and (min-width: 1057px) and (max-width: 1248px) {
    .mintFooterText {
        padding: 0 48px;
    }
    .internalLink {
        font-size: small;
    }
    .mintDesign {
        display: none;
    }
}

@media screen and (min-width: 961px) and (max-width: 1056px) {
    .mintDesign {
        /* width: 28%;
        margin-right: 10%; */
        display: none;
    }
    .internalLink {
        font-size: x-small;
    }
}

@media screen and (min-width: 642px) and (max-width: 960px) {
    .mintDesign {
        /* top: 450%; */
        display: none;
    }
}

@media screen and (max-width: 641px) {
    .mintParent {
        height: auto;
    }
    .mintTitle {
        font-size: x-large;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .mintTitleBold {
        font-size: xx-large;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .mintButtonParent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px;
        background-color: #252525;
        margin: 5% 0 3% 0;
        width: 90%;
    }
    
    .mintInput {
        border: none;
        color: white;
        outline: none;
        font-size: large;
        padding: 30px 10px;
        width: 40%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) -1.46%, rgba(39, 31, 28, 0.0798) 100%);
        backdrop-filter: blur(14px);
        z-index: 1000;
    }
    
    .buttonMint {
        outline: none;
        padding: 10px 0;
        font-size: large;
        width: 35%;
        background-color: #2CA0E2;
        color: white;
        border: none;
        clip-path: polygon(25% 0, 100% 0, 100% 40%, 100% 75%, 75% 100%, 39% 100%, 0 100%, 0% 25%);
    
    }
    
    .mintDesign {
        /* position: absolute;
        top: 495%;
        right: 2%;
        width: 85%;
        height: 45%;
        margin: 45% 5% 40px 5%; */
        display: none;
    }
    
    .elipse{
        position: absolute;
        /* top: 480%; */
        right: 12%;
        width: 65%;
        height: 50%;
    }

    .bottomElipse {
        width: 105%;
        top: 440%;
    }

    .mintBottomText {
        font-size: xx-large;
        color: white;
        margin-left: 30px;
        /* margin-top: 110%; */
        margin-bottom: 5px;
    }

    .mintEmailParent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 3% 10%;
        width: 80%;
    }

    .mintEmailInput {
        width: 90%;
        margin-bottom: 20px;
        backdrop-filter: blur(14px);
        color: white;
        opacity: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) -1.46%, rgba(39, 31, 28, 0.0798) 100%);
    }

    .mintEmailButton {
        width: 40%;
    }

    .mintEmailText {
        display: none;
    }

    .mintFooter {
        display: none;
    }

    .mintFooterMobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40%;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        margin-top: 20px;
    }

    .logoMobile {
        height: 100%;
        width: 35%; 
        border-right: 2px solid grey;
    }

    .maintFooterTextParentMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 65%;
        height: 100%;
        color: white;
    }

    .mintFooterTextMobile {
        margin:  0;
        font-size: x-large;
        background: linear-gradient(90deg, #FF6706 -6.06%, #0048F5 56.97%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .mintFooterLinkParent {
        display: none;
    }

    .mintFooterExternalLink {
        justify-content: flex-start;
    }

    .mintFooterExternalLinkMiddle {
        margin: 0 20px;
    }

    .mintFooterLinkParentMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: white;
        margin: 20px 0 30px 0;
    }

    .mintTermsAndPolicyParent {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .mintTermsAndPolicyMiddle {
        padding: 5px 0;
    }
}

@media screen and (max-height: 641px) {
    .mintFooterText {
        padding: 0 50px;
    }
    .internalLink {
        font-size: small;
    }
}