body{
/* background-color: rgb(42 65 85); */
/* width: 100%; */
background-color: black;
opacity: 90%;
}

.carousel-image0{
position: relative;
    width: 80%;
    /* border: 2px solid; */
    top: -13%;
}
.carousel-image3{
width: 30%;
position: relative;
top: 4%;
}
.carousel-image6{
position: relative;
top: 9%;
}


.company-name{
position: relative;
/* top: -10%; */
left: 9%;
/* width: 25%; */
margin-right: 0;
}

.carousel-h1{
/* border: 2px solid; */
color: white;
    width: 10%;
    text-align: center;
    margin: 30px auto;
}

.bhRnqO {
    top: calc(50% - 70.5px) !important;
    right: 5% !important;
}

.kVtMtA {
    top: calc(50% - 75.5px) !important;
}

.sc-dnqmqq {
    height: 200px !important;
}

  