html {
  height: 100%;
}

body{
  /* background-color: black; */
  color: white;
  /* background: linear-gradient(rgb(187, 97, 187, 0.71) 2% , black 60%); */
  background-color: #0A0A0A;
  height: 100%;
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 10%;
}

.box{
  border: 1px solid #353434;
  /* box-shadow: 10px 10px 5px #353434; */
  width: 23%;
  height: 355px ;
  margin-right: 60px;
  border-top-right-radius: 70px;
  background: linear-gradient(90deg, #FFFFFF -75.39%, rgb(37 28 28 / 39%) 29.65%);
  opacity: 0.7;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  /* position: absolute; */
}

.carding{
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  margin: 5px 90px 0;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3rem;
}

.CardHeader{
  height: 10px;
  text-align: left;
  margin-left: 14rem;
/* font-family: 'Abel'; */
font-style: normal;
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 350;
}

.hr{
    position: relative;
    top: 6rem;
    width: 25%;
    left: 5rem;
    text-align: left;
    font-family: 'PT Mono', monospace;
}

p{
    font-size: 1.2rem;
    line-height: 2rem;
    position: relative;
    width: 33%;
    text-align: left;
    left: 14rem;
    top: 6rem;
    font-weight: 350;
    /* font-family: 'Abel'; */
  font-style: normal;
}

.cardprops{
  position: relative;
  text-align: left;
}

.h1{
  position: relative;
    font-size: 3.5rem;
    width: 19rem;
    /* border: 2px solid yellow; */
    left: 13rem;
    top: 1rem;
    font-weight: 350;
    font-stretch: expanded;
    /* font-family: 'Inter'; */
    font-style: normal;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1300px){
  .box{
    width: 30%;
    margin-bottom: 20px;
  }
  .carding{
    margin: 0;
  }
}

@media only screen and (max-width: 1100px){
  .box{
    width: 33%;
  }
} 

@media only screen and (max-width: 1100px){
  .box{
    width: 35%;
    margin: 15px;
  }
  .CardHeader{
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 11rem;
  }
  .carding{
    margin: 5px -15px 0;
  }
  p{
    margin-left: -3rem;
  }
}

@media only screen and (max-width: 750px){
  .box{
    width: 44%;
    height: 300px;
    margin: 15px;
  }
  .hr{
    top: 5rem;
  }
  .carding{
    margin: 5px 15px 0;
  }
  p{
    font-size: 1rem;
    line-height: 1.5rem;
    top: 5rem;
  }
}

@media only screen and (max-width: 600px){
  .box{
    width: 100%;
    margin: 0 0 20px;
  }
  .carding{
    margin: 25px 33px;
  }
  .CardHeader{
    font-size: 2.5rem;
  }
  .hr{
    left: 4rem;
  }
  p{
    font-size: 1.4rem;
    width: 90%;
  }
}

@media only screen and (max-width: 350px){
  .box{
    width: 150%;
    margin: 0 0 20px;
  }
  .carding{
    margin: 23px 0px 0px 90px;
  }
 
  p{
    margin: 0 -55px 0;
    width: 10%;
    left: 14rem;
  }
  .h1{
    font-size: 3rem;
  }
}